<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>同期成本对比</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="container">
    {{> nav }}

    <form class="form-inline mb-3">
        <label class="my-1 mr-2" for="year_select">年份</label>
        <select class="custom-select mr-4" id="year_select">
            <option value="2017">2017</option>
            <option value="2018">2018</option>
        </select>

        <label class="my-1 mr-2" for="offices_select">科室</label>
        <select class="custom-select mr-4" id="offices_select">
            {{#each this}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>

        <button type="button" class="btn btn-primary my-1" id="search_btn">查询</button>
    </form>

    <div id="chart_container" style="width: 700px;height:500px;"></div>
</div>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/echarts.common.min.js"></script>
<script>
    (function(){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart_container'));

        $('#search_btn').on('click', function(){
            $.ajax({
                url: '/getAnnualCostDataByOfficeId',
                data: {
                    year: $('#year_select').val(),
                    officeId: $('#offices_select').val()
                },
                type: 'get',
                dataType: 'json',
                success: function(data){
                    //console.log(data);
                    var resp = data.data;

                    var legend17 = [],
                        legend18 = [];
                    for(var i = 0, resplegendLength = resp.legend.length; i < resplegendLength; i++){
                        var l = resp.legend[i];
                        legend17.push(l + '2017');
                        legend18.push(l + '2018');
                    }
                    var legend = legend17.concat(legend18);
                    var legend_en = resp.legend_en.concat(resp.legend_en);
                    var colors = ['#c23531','#0032C6','#9C27B0','#36B022','#FFBE00', '#c23531','#0032C6','#9C27B0','#36B022','#FFBE00'];

                    var series = [];
                    for(var i = 0, legendLength = legend.length; i < legendLength; i++){
                        var is17 = !!(legend[i].indexOf('17') != -1)
                        series.push({
                            name: legend[i],
                            name_en: legend_en[i],
                            type: 'bar',
                            stack: is17 ? 'stack17' : 'stack18',
                            itemStyle: {
                                color: colors[i],
                                opacity: is17 ? '.3' :'1'
                            },
                            data: []
                        });
                    }

                    for(var j = 0, data17Length = resp.data17.length; j < data17Length; j++){
                        var d17 = resp.data17[j];
                        for(var k = 0, seriesLength = series.length; k < seriesLength; k++){
                            var s = series[k];

                            if(s.name.indexOf('17') == -1) { continue; }

                            s.data.push(d17[s.name_en]);
                        }
                    }

                    for(var l = 0, data18Length = resp.data18.length; l < data18Length; l++){
                        var d18 = resp.data18[l];
                        for(var m = 0, seriesLength = series.length; m < seriesLength; m++){
                            var s = series[m];

                            if(s.name.indexOf('18') == -1) { continue; }

                            s.data.push(d18[s.name_en]);
                        }
                    }

                    console.log(series);


                    var option = {
                        title: {
                            text: $('#officesselect').find('option:selected').text() + '同期成本对比'
                        },
                        tooltip : {
                            trigger: 'axis',
                            axisPointer : {
                                type : 'shadow'
                            }
                        },
                        legend: {
                            data: legend,
                            bottom: '5px'
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '10%',
                            containLabel: true
                        },
                        xAxis : [
                            {
                                type : 'category',
                                data : resp.xAxis
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        series : series,
                        toolbox: {
                            show: true,
                            feature: {
                                saveAsImage: {}
                            },
                            right: '10%'
                        }
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            })
        });
    })()
</script>
</html>